.order{
  
 



.cart-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;

}

.container-cart{
    display: flex;
    align-items: center;
    gap: 10px;
flex-direction: column;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
}

.cart-image{
width: 80%;
height: 80%;
object-fit: cover;
}

.cart-price{
    font-size: 22px;
    color: black;
    font-weight: bold;
    background-color: red;
}

.checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 90%;
    border-radius: 10px;
    padding: 10px 20px;
    align-self: center;
color: white;
    margin-top: 40px;
    cursor: pointer;
}

.cart-items{    padding: 10px;
    border: 1px solid #c9c9c9;
    justify-content: space-between;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.total-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.total-container .counter{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ee4d85;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.total-container .counter-item{
    padding: 5px 10px;
    font-size: 12px;
}

}